* {
    box-sizing: border-box;
}

body {
    margin: 0;  /* rewrite default margin & padding (which can be seen in page developer mode) */
    padding: 0;
}

.header {
    height: 124px;
    border: 1px solid red;
}

.footer {
    height: 156px;
}

.header-box {
    border: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-box {
    border: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* style the footer-nav separately, as it should take the whole width between footer-logo & footer-social */
.footer-nav {
    flex-grow: 1;
}

.container {
    max-width: 1230px;
    height: 100%;
    /* border: 1px solid blue; */
    margin: 0px auto;   /* centering the container */
    padding-left: 15px;
    padding-right: 15px;
}

/* the logo image must be the same size as in figma */
.logo {
    max-width: 100px;
}
/* style the child element - img */
.logo img {
    width: 100%;
}