* {
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}

body {
    margin: 0;  /* rewrite default margin & padding (which can be seen in page developer mode) */
    padding: 0;

}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* viewport units; main page takes the whole height */
}

.main {
    flex-grow: 1;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.header {
    min-height: 124px;
    display: flex;
    align-items: center;
}

/* TODO these styles is possible to copy from figma somehow... */
/* this is 'Layout' section in figma */
.btn {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 4px;       /* this is gap between flex elements */
    outline: none;
}

/* and these two are 'Style' */
.btn-outline {
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #fff;
    box-shadow: 0px 0px 2px 0px black;
    color: darkslategray;
}
/* 'Style' */
.btn-primary {
    border-radius: 2px;
    background: #1890ff;
    border: 1px solid #1890ff;
    color: white;
}

.footer {
    min-height: 156px;
    display: flex;
    align-items: center;
    padding: 60px 0px;
}

.header-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* buttons begin from the end */
    gap: 10px;
}

.footer-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    flex-wrap: wrap;
}

/* style the footer-nav separately, as it should take the whole width between footer-logo & footer-social */
.footer-nav {
    flex-grow: 1;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0%;
    margin: 0%;
    gap: 15px;
    flex-wrap: wrap;

}

.footer-nav ul li { /* this need to be finished */
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.container {
    max-width: 1230px;
    height: 100%;
    width: 100%;
    /* border: 1px solid blue; */
    margin: 0px auto;   /* centering the container */
    padding-left: 15px;
    padding-right: 15px;
}

/* the logo image must be the same size as in figma */
.logo {
    max-width: 100px;
}
/* style the child element - img */
.logo img {
    width: 100%;
}

.banner {
    margin-bottom: 56px;
}

.banner-item {
    background-image: url(./images/banners/banner.png); /* add banner picture as a background */
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 68px;
    border-radius: 10px;
    background-size: cover;
    background-position: center right;
}

.banner-item--title {
    color: gray;
    font-size: 30px;
    font-weight: 700;
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 15px;
}

.banner-item--subtitle {
    color: gray;
    font-size: 25px;
    font-weight: 300;
    max-width: 50%;
    margin: 0;
}

.products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .banner-item--title {
        max-width: 100%;
    }
    .banner-item--subtitle {
        max-width: 100%;
    }
}